body {
    margin: 0;
    overflow-x: hidden;
}

.container {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0,-11px) rotate(45deg);
    z-index: 1;
}

.change .bar1 {
    transform: translate(0,11px) rotate(-45deg);
    z-index: 1;
}

header {
    background-color: #332975;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    transition: 0.2s;
    width: 100%;
}

header h1 {
    color: rgb(241, 235, 235);
    font-family: monospace;
    font-size: 2rem;
    margin-left: 10px;

}

.dropDown {
    min-width: 160px;
    background-color: rgb(202, 202, 202);
    z-index: 0;
    position: absolute;
    right: 0rem;
    display: none;
    z-index: 1;
    overflow: auto;
}

.show {display: block;}

.dropDown li {
    margin-bottom: 0.5rem;
    list-style:disc;
    font-style: normal;
    color: #100f0f;
    font-size: 20px;
}

.anchor {
  text-decoration: none;
  color: black;
  transition: ease-in 0.2s;
}

.anchor:hover {
  padding: 5px;
  opacity: 0.7;
}


.dropdowm ul {
  font-style: none;
  text-decoration: none;
}

main {
    width: auto;
    background-color: #1e1d26;
    height: auto;
}

.footer {
    width: 100%;
    background-color: #332975;
    height: 10vh;
    margin-top: 0px;
}

.footerP {
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
}

.footerDiv {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.headerDiv {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.headerPara {
    font-size: 46px;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mainDiv {
    height: auto;
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    min-height: 360px;
    min-width: 320px;
    max-width: 360px;
    flex-basis: 30.33%;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  
  .articles {
    display: flex;
    width: 100%;
    margin-inline: auto;
    padding-inline: 24px;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;

  }
  
  @media screen and (max-width: 960px) {
    article {
      inline-size: auto;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
